{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Accounts Payable Clerk &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$73,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/payable_clerk.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              A growing consultancy in Borough offers an exciting opportunity to a hungry Accounts Payable Clerk. <br>
              
              Reporting to the Financial Controller, you will be responsible for the UK, Australia and US accounts payable function and play a pivotal, hands on role in supporting the Finance team. <br> 
              
              Duties will include; Credit card and expense management, inputting and processing supplier invoices onto Sage, preparing payment runs for authorisation, supplier statement reconciliations, and handling supplier queries professionally and efficiently. <br>
              
              Please apply if you have Sage experience and at least 2 years accounts payable experience. <br>
              
              (DO NOT apply if you do not have the requisite experience). <br>


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


