{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Technical Solutions Manager&nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$112,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/Solution-Manager-7.2.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
                Technical Solutions Manager Bristol <br>
                
                EMO is an integrated communications agency working across all disciplines to deliver intelligence based retail marketing support and solutions. We provide this service to an impressive list of clients including some of the best automotive brands in the world. <br>
                
                We're a lively bunch with a diversity of knowledge and experience. We are all proud of our agency and passionate about what we do, and it shows every day, from planning through to delivery.<br>
                
                About the role: Working with the Head of Creative Services this is a new and integral role, to plan, define, document and oversee the agency s Digital projects ensuring that they are delivered on time and on budget. <br> 
                
                You will be responsible for ensuring all projects are effectively resourced, using both internal teams and third party providers, with the ability to brief external providers, ensuring high standards are maintained. <br> 
                
                The candidate: We are looking for someone who is passionate about and has a clear understanding of the latest digital technology and the difference it can make. You will be comfortable with new user interfaces such as gesture or image recognition, semantic web and mobile applications to name a few, and have experience with HTML5 and FlashD. <br>
                
                Your diversity of interest in new technologies should be apparent, as should your ability to explain, demonstrate and discuss innovative technologies with internal and external teams in nontechnical terms. Our ideal candidate may be an established Digital Project Manager, with a strong technical development background. <br> 
                
                You will be familiar with a .NET environment and have a good understanding of CMS systems, specifically Umbraco. Maybe you are a Lead Developer with a good understanding of frameworks, looking to lead a team? You will need to be comfortable with the financials, with clear technical expertise, and excellent communication skills. You will be working with a knowledgeable and expert team and should be able to lead by example. <br> 
                
                Apply now: If you are a strong leader, with proven digital project management experience, able to provide technical direction from definition phase through to implementation, and maintain an up to date awareness of new and emerging technologies, chances are you are just the person we are looking for. <br>
                
                For an informal chat, in confidence, please get in touch. To apply for this role, please click on the 'Apply now' button.

                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


