{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Credit Controller &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$80,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/credit.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
            An exciting job opportunity has arisen to work in a Management Consultancy in the City of London.  <br>
            
            They are looking to add a permanent Finance Assistant to join their team. <br>
            
            The successful candidate will come on board to support the Finance Manager. <br>
            
            The successful candidate will have a strong working knowledge of Sage Line with 3 years experience in a varied finance position and advanced Excel skills. <br>
            
            If you feel you have the relevant experience, then please apply. <br>

                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


