{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Trainee Mortgage Advisor East Midlands &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1>Salary </h1> 
        <h1 id="data-salary">$65,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/mortgage_advisor.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              Are you a successful, results driven person? <br>
              
              Are you looking to start a career in Financial Services? <br>
              
              Are you looking for a fast paced, dynamic working environment? <br>
              
              Our Client is proud to be an independent estate agent with an unbeatable local knowledge and reputation for excellent service. They have a mortgage advisor within each of their branches to accommodate their customers needs. <br>
              
              As a Trainee Mortgage Advisor, you will work closely with your team to learn and develop whilst achieving shared goals. In addition to this; You will have the determination to succeed in the Financial Services market. <br>
              
              You will be capable of working effectively under pressure and in a target orientated environment. You will have the ability to successfully achieve your CeMap qualifications. You will be able to evaluate business at every opportunity. <br>
              
              The company will offer a fantastic training programme as well as full funding for CeMap qualifications all within a supportive, team working environment. Once fully qualified, achievable progression thresholds are put in place with excellent earning potential. With a track record of successful sales abilities, preferably within an Estate Agency setting, suitable candidates will have a drive and enthusiasm to work within the Financial Services market. <br>
              
              The ability to qualify applicants to advise on their purchasing abilities Excellent communication skills A professional and friendly approach Refined numerate abilities and an attention to detail A driving licence/own car Excellent computing skills You must be a self motivated, driven individual with the ability to be proactive with your own learning and development. <br>
              
              You will have the ability to work successfully within a team whilst managing your own, individual work load. Organisational skills and a will to succeed are also a must. <br>
              
              Company Locations: Belper, Ilkeston, Eastwood, Derby, Leicester, Mansfield, Melbourne, Ripley <br>
              
                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


