{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Support Worker &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$80,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/support_Worker.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
                We are a leading provider of social care services. If you are interested in a Support Worker Job Chepstow please apply today. <br>
                
                For over 16 years we have provided domiciliary care. Offering support, encouragement, help and guidance for a wide range of people to maintain their independence and enhance their lives. Based in Cwmbran, we have an established and rapidly growing branch. We are now looking for Support Worker Job seekers in Chepstow & Caldicott. <br> 
                
                We need people, like you, who enjoy a challenge and have a real passion and commitment for helping others. Whether new to care or already experienced we would like to hear from you. <br>
                
                Support Worker Job Chepstow Role Overview Support Worker duties will include providing personal care & domestic support to people within their own homes in line with designed care packages. We require people to join us in providing care and support to a wide range of people in the following areas: Chepstow, Caldicott and surrounding areas. <br>
                
                It is advantageous if you have your own transport and you need to state this on your CV. <br> 
                
                We provide a comprehensive training program with a wealth of learning opportunities that will equip you with the skills and confidence to be the best you can. <br>
                
                Benefits include: Free uniforms and protective equipment Mileage allowance covering your complete journey Access to free NVQ training after 6 months 5.6 weeks per annum (pro rata of the hours you work) of paid leave including bank holidays, Access to invest in a stakeholder pension scheme, Recommend a friend scheme Pay role monthly prize draw, Access to the Employee’s Saving Club Full and parttime hours available, including evenings and weekends. <br>
                
                A full job description and information pack are available upon further request. <br>
                
                Successful applicants will be required to provide an enhanced CRB. Expense will be met by applicant and employer. Q Care Limited are an equal opportunities employer applicaitons are welcome from all sectors of the community as we aim to recruit a diverse workforce that reflects the people we serve. <br>


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


