{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Senior PHP Developer &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$130,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/software-developer-on-php-code.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
                A skilled Senior PHP Developer is required by a leading provider of webbased services and clinical management software based in Central London. <br> 
                
                The role will involve working with a software architect to develop the companys core products and take over the lead development of these systems. <br> 
                
                Essential Requirements: Minimum of 6 years experience in PHP Development Expertise in PHP and MySQL, 5 Fluency in OOP Experience in Linux and Apache, Web services, multiserver platforms and cloud computing Experience in Windows/IIS PHP deployments, jQuery, Prototype and XML is desirable. <br>
                
                If you are someone who would like to take on a new challenge, send your CV now. <br>

                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


