{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Chef de Partie &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$77,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/chef.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
                A well respected restaurant located in the Derby area has a Chef de Partie role available role. <br>
                
                A Chef de Partie who is passionate about working with all fresh produce to a high standard is required to join the brigade of chefs at an award winning restaurant. <br>
                
                The restaurant serves 1000 covers at lunch with a set menu and up to 1100 covers in the evening for the a la carte menu, as Chef de Partie you will be expected to run a section once fully trained keeping your work space clean and tidy at all times. <br>
                
                Requirements: All Chef de Parties applying for this role should already have fresh food experience at this level with the ability to manage a busy section. This role can offer the right candidate excellent opportunities to progress within the team. Benefits Include: Uniform, Provided Meals on Duty, Excellent Tips – Paid Monthly, Excellent Opportunities To Progress. <br>
                
                If you are interested in this position or would like information on the other positions we are recruiting for or any temporary assignments please send your CV by clicking on the 'apply now' button below and our consultant Tony Papa will do his utmost to assist you in your search for employment. <br> 
                
                In line with the requirements of the Asylum Immigration Act all applicants must be eligible to live and work in the UK. Documented evidence of the eligibility will be required from candidates as part of the recruitment process. <br>
                
                This job was originally posted as www.caterer.com/JobSeeking/ChefdePartieAwardWinningRestaurantExcellentTips_job**** <br>



                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


