{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Chef de Partie &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$75,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/chef2.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
                A popular hotel located in Norfolk which is a very busy operation has a position available for a Chef de Partie Role: <br>
                
                A Chef de Partie capable of coping well under pressure is required to join the kitchen team at a hotel that has an excellent reputation for offering high quality dining to its guests and has gained accreditations in the main restaurant. The busy Brasserie style restaurant regularly serves 1100 covers for lunch and dinner so this Chef de Partie role will require you to be organised on your section ensuring all prep is complete to the standards expected by the Head Chef before each service. <br>
                
                Requirements: All Chef de Parties applying for this role must have a strong background with highlights previous AA Rosette experience in a high volume operation. A candidate who is self motivated and capable of working well in a busy team of chefs would be ideal for this role. <br>
                
                Benefits Include: Uniform Provided, Meals on Duty, Accommodation Available, Share of Tips – IRO 2000 Per Month, Excellent Opportunities To Progress. If you are interested in this position or would like information on the other positions we are recruiting for or any temporary assignments please send your CV to our consultant Sean Bosley who will do his utmost to assist you in your search for employment. <br>
                
                In line with the requirements of the Asylum Immigration Act all applicants must be eligible to live and work in the UK. Documented evidence of the eligibility will be required from candidates as part of the recruitment process. <br>
                
                This job was originally posted as www.caterer.com/JobSeeking/ChefdePartieAwardWinningDiningLiveInShareofTips_job <br>



                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


