{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Field Sales Executive &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$140,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/field_sales_exec.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              Due to expansion there is now a vacancy for a Field Sales Executive / Business Development Executive to join a wide format printing company in Maidstone, Kent. <br>
              
              As Field Sales / Business Developer you MUST have wide format print experience, this is ESSENTIAL. <br>
              
              We kindly request that you do not apply if you do not have a wide format print background.<br>
              
              Duties and Accountabilities involve developing new business within wide format print, Drawing on previous contacts to secure new orders for the company, Attending sales meetings in order to promote and sell printing equipment and services, Demonstrating expertise in point of sale (POS) displays, graphics boards, exhibitions Taking responsibility for administration of sales. <br>
              
              Candidate Requirements; Sales experience wide format printing Excellent communication skills Attention to detail and a proactive approach to generating new business. <br>


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


