{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> IT Telesales &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$90,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/it_telesales.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              TELESALES ACCOUNT MANAGER  
              
              Uncapped An exceptional opportunity for a great Telesales / Telemarketing Account Manager to excel in a B2B sales environment where you can control your own earnings with an uncapped commission structure. <br>
              
              Established in 2003, this fast growing company provides a one stop shop for all the essential elements that every business needs. From PCs and Laptops through to Servers A significant and demonstrable track record in B2B sales (preferably including IT Sales, Telesales, Telemarketing and proactive Account Management) preferably within the IT/Office Consumables/Office, Furniture arena, Computer literate. <br>
              
              Commercially aware; Excellent interpersonal skills with the ability to build relationships and rapport with a wide variety of people; Excellent communication skills with the ability to question, listen and present effectively; Results driven and tenacious; Confident and enthusiastic. <br>
              
              Code Blue Recruitment handle nearly 50 LIVE VACANCIES, for all sectors and levels of the Recruitment industry across the whole of the UK. Positions include Junior and Trainee Consultants, Recruitment and Senior Recruitment Consultants, Team Leaders, Account Managers, Branch Managers, Sales Managers & Directors. <br>
              
              Sectors covered include Professional Recruitment such as Finance, Accountancy & Banking, Legal & HR, Commercial markets such as Office Support, Industrial, Driving, Oil & Gas, Hospitality & Catering, the Public Sector including Medical, Care, Education, Technical markets such as I.T., Telecoms, Media, Construction, Engineering, Energy & Environment, and Pharmaceutical, as well as diverse areas such as Sales Recruitment, Search, and Supply Chain.


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


