{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Recruitment and Marketing Advisor &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$72,500</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/recruiting_advisor.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              Our client is a training organisation in the North East region which provides personal and vocational training for young people and adults who require additional support. <br>
              
              They provide training in the following areas; Apprenticeships, Foundation Learning, Adult Skills. <br>
              
              The Role: Marketing of Apprenticeships and other programmes, as required, leading to the recruitment and sign up of clients across all relevant vocational sector areas throughout the North East region and beyond, as appropriate. Meeting individual targets, leading to the successful attainment of Company profiles.<br>
              
              Key tasks and responsibilities: Working throughout the North East region and beyond, where appropriate, marketing our clients programmes, to employers and signing up eligible clients to undertake an appropriate qualification, through both self generated leads and referrals. <br> 
              
              Maintain effective communication with the Executive Manager whilst managing own workload effectively and meeting monthly profiles in order to achieve contract value and contractual targets. Keep up to date records, of all employers visited and the outcomes. Liaise with relevant staff throughout the organisation to share best practice and information gathered and indirectly market other programmes within the organisations portfolio, where appropriate. <br>
              
              Liaise effectively with the Support department and manage vacancies entered on NAVMS. Be aware of changes to programmes e.g. eligibility criteria and amend sales pitch accordingly. Provide assistance and input into the update and improvement of marketing tools. Produce and give professional presentations to external organisations, as appropriate, on the concept and benefits of the individual programmes. Maintain and update all processes relevant to your department, as appropriate and ensure quality assurance levels are met. Effective reporting to the Executive Manager. To represent the Company to external bodies, where appropriate. Ensure all documentation is completed accurately and on time. Ensure compliance with Company policies including equality and diversity and health and safety. <br>
              
              The above is not an exhaustive list of duties and you will be expected to perform different tasks as necessitated by your changing role within the organisation and the overall business objectives of the organisation. <br>
              
              The Individual: Sales and marketing experience and a proven sales record. Good standard of education. Effective IT skills. Experience of working to and achieving agreed formal targets. Ability to effectively and professionally. present to individuals and small to medium organisations. Experience of successful direct, face to face marketing and sales. Highly effective communicator. Excellent interpersonal skills. Driven and desire to be successful. Ability and willingness to undertake extensive travel, visiting clients throughout the region. <br>
              
              Additional: Offering a salary of 72500, 26 days holiday plus bank holidays Bonus. <br>


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


