{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Engineering Systems Analysts &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$120,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/Engineering_analyst.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
            Engineering Systems Analyst at Dorking Surrey <br>
            
            Our client is located in Dorking, Surrey and are looking for an Engineering Systems Analyst. <br>
            
            Our client provides specialist software development like Mathematical Modelling, Risk Analysis, System Modelling, Optimisation, MISER and PIONEEER. <br>
            


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


