{% extends "base.html" %}

{% block links %}
<!-- <a href="/admin" >ADMIN</a> -->
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Stress Engineer Glasglow &nbsp;</h1>
        <div class="cl">&nbsp;</div>
        <h1> Salary </h1> 
        <h1 id="data-salary">$110,000</h1>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/stress_engineer.jpg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
            We're currently looking for talented engineers to join our growing Glasgow team at a variety of levels. The roles are ideally suited to high calibre engineering graduates with any level of appropriate experience, so that we can give you the opportunity to use your technical skills to provide high quality input to our aerospace projects, spanning both aerostructures and aeroengines. <br>
            
            In return, you can expect good career opportunities and the chance for advancement and personal and professional development, support while you gain Chartership and some opportunities to possibly travel or work in other offices, in or outside of the UK. <br>
            
            The Requirements is you will need to have a good engineering degree that includes structural analysis (such as aeronautical, mechanical, automotive, civil) with some experience in a professional engineering environment relevant to (but not limited to) the aerospace sector. <br>
            
            You will need to demonstrate experience in at least one or more of the following areas: Structural/stress analysis Composite stress analysis (any industry), Linear and nonlinear finite element analysis, Fatigue and damage tolerance Structural dynamics and Thermal analysis Aerostructures experience. <br>
            
            You will also be expected to demonstrate the following qualities: A strong desire to progress quickly to a position of leadership Professional approach with Strong communication skills, written and verbal Commercial awareness Team working, being comfortable working in international teams and self managing. <br>
            
            PLEASE NOTE SECURITY CLEARANCE IS REQUIRED FOR THIS ROLE Stress Engineer Glasgow Salary <br>


                </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


