{% extends "base.html" %}

{% block links %}

{% endblock %}
{% block body %}
<div id="main">
    <div id="content">
      <div class="box" style='height: auto'>
        <h2><span>ACCOUNTING_FINANCE <br> </span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="image" id="img-1"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-1" href="#" > </a></h4>
              <p id="data-embed-1"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="image" id="img-2"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-2" href="#"> </a></h4>
              <p id="data-embed-2"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
	  <div class="box" style='height: auto'>
        <h2><span>ENGINEERING <br> </span></h2>
        <div class="cl">&nbsp;</div>
        <div class="posts">
          <div class="post">
            <div class="image" id="img-3"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-3" href="#"> &nbsp; </a></h4>
              <p id="data-embed-3"> </p>
            </div>
          </div>
          <div class="post last">
            <div class="image" id="img-4"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
            <div class="data">
              <h4><a id="link-4" href="#"> &nbsp; </a></h4>
              <p id="data-embed-4"> </p>
            </div>
          </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
    
    <div class="box" style='height: auto'>
      <h2><span>HEALTHCARE_NURSING <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-5"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-5" href="#"> &nbsp;</a></h4>
            <p id="data-embed-5"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-6"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-6" href="#"> &nbsp; </a></h4>
            <p id="data-embed-6"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>

    <div class="box" style='height: auto'>
      <h2><span>HOSPITALITY_CATERING <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-7"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-7" href="#"> &nbsp;</a></h4>
            <p id="data-embed-7"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-8"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-8" href="#"> &nbsp; </a></h4>
            <p id="data-embed-8"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>

    <div class="box" style='height: auto'>
      <h2><span>IT <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-9"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-9" href="#"> &nbsp;</a></h4>
            <p id="data-embed-9"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-10"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-10" href="#"> &nbsp; </a></h4>
            <p id="data-embed-10"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>


    <div class="box" style='height: auto'>
      <h2><span>PR_ADVERTISING_MARKETING <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-11"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-11" href="#">&nbsp; </a></h4>
            <p id="data-embed-11"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-12"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-12" href="#"> &nbsp;</a></h4>
            <p id="data-embed-12"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>

    <div class="box" style='height: auto'>
      <h2><span>SALES <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-13"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-13" href="#"> &nbsp;</a></h4>
            <p id="data-embed-13"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-14"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-14" href="#"> &nbsp; </a></h4>
            <p id="data-embed-14"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>


    <div class="box" style='height: auto'>
      <h2><span>TEACHING <br> </span></h2>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="post">
          <div class="image" id="img-15"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-15" href="#"> &nbsp;</a></h4>
            <p id="data-embed-15"> </p>
          </div>
        </div>
        <div class="post last">
          <div class="image" id="img-16"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src=" " alt="" /></a> </div>
          <div class="data">
            <h4><a id="link-16" href="#">  </a></h4>
            <p id="data-embed-16"> </p>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>

      <div class="cl">&nbsp;</div>
    </div>
    <div class="cl">&nbsp;</div>

  </div>

  {% endblock %}

{% block script %}
<script>
  $(document).ready(function (){

    $.each([
    "{{ url_for('article', folder='Accounting_Finance', filename='Credit_Controller') }}",
    "{{ url_for('article', folder='Accounting_Finance', filename='Trainee_Mortgage_Advisor_East_Midlands') }}",
    "{{ url_for('article', folder='Engineering', filename='Engineering_System_Analyst') }}",
    "{{ url_for('article', folder='Engineering', filename='Stress_Engineer_Glasglow') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Project_Engineer_Pharmaceutical') }}",
    "{{ url_for('article', folder='Healthcare_Nursing', filename='Support_Worker_Chepstow') }}",
    "{{ url_for('article', folder='Hospitality_Catering', filename='chef_de_partie') }}",
    "{{ url_for('article', folder='Hospitality_Catering', filename='chef_de_partie_2') }}",
    "{{ url_for('article', folder='IT', filename='c_developer') }}",
    "{{ url_for('article', folder='IT', filename='php_developer') }}",
    "{{ url_for('article', folder='PR_Advertising_Marketing', filename='Accounts_Payable_Clerk') }}",
    "{{ url_for('article', folder='PR_Advertising_Marketing', filename='Technical_Solution_Manager') }}",
    "{{ url_for('article', folder='Sales', filename='field_sales_exec') }}",
    "{{ url_for('article', folder='Sales', filename='IT_Telesales') }}",
    "{{ url_for('article', folder='Teaching', filename='teaching') }}",
    "{{ url_for('article', folder='Teaching', filename='recruiting_advisor') }}",
    ], function(i, a){
      $.get(a, function(data){

        var shortened = $(data).find('#data-content').text().substring(0, 400);
        var title = $(data).find('#data-title').text();
        var image = $(data).find('#data-img img').attr('src');

        // Embed data into the homepage
        $("#data-embed-" + String(i+1)).text(shortened + '...');
        $("#img-" + String(i+1) + " img").attr("src", image);
        $("#link-" + String(i+1)).text(title);
      });
      $("#link-" + String(i+1)).attr("href", a)
    });    
  });
</script>
{% endblock %}

